* {
    box-sizing: border;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
}

.navbar {
    font-size: 14px;
}

.colorfinder {
    position: fixed;
    bottom: 0;
    left: 0;
}

.colorfinder div {
    width: 20px;
    height: 20px;
    float: left;
}

.label, input, textarea, button, .messagebox{
    border-radius: 2px;
}

.tooltiptext, button, .label {
    color: white;
}

a {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

/* page title */
h1 {
    border-bottom-style: double;
    border-bottom-color: rgb(105, 105, 105, .8);
    width: 360px;
    line-height: .7;
    margin: 20px auto;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* page headers */
h2 {
    font-size: 16px;
    margin: 0 auto 10px;
}

/* flash messages */
.messagebox {
    margin: 2px auto;
    padding: 3px 10px;
    font-size: 12px;
    display: inline-block;
    background-color:  #b4b4b47e;
}

.error {
    color: red;
}

.greenlight {
    color: rgb(25, 109, 0);
    text-shadow: 0 0 3px rgb(0, 255, 0, .5);
}

/* generic table properties */
table {
    margin: 0 auto;
    border-spacing: 3px 3px;
}

td {
    position: relative;
    /* border: 1px solid black; */
}

/* table labels for forms*/
.label {
    text-align: center;
    width: 100px;
    font-size: 14px;
    padding: 3px;
    margin: 3px;
}

input {
    width: 200px;
    padding: 2px;
    border: 1px solid gray;
    float: left;
}

textarea {
    width: 400px;
    height: 150px;
    font-size: 12px;
    padding: 2px;
    border: 1px solid gray;
    resize: none;
    margin-bottom: -4px;
}

button {
    width: 60px;
    font-weight: bold;
    padding: 3px;
    border: none;
    float: right;
    margin-left: 5px;
}

button:focus {
    opacity: .85;
}
 
/* change button to full width on login, signup */
button.login {
    margin-top: 10px;
    height: 40px;
    width: 100%;
}

/* post details */
.post {
    width: 60%;
    min-width: 250px;
    margin: 0 auto;
    padding: 2px;
    position: relative;
    overflow-wrap: break-word;
}

.title {
    border-top: 1px solid #1f1e1e;
    border-left: 4px solid #1f1e1e;
    border-top-left-radius: 7px;
    font-size: 20px;
    padding-left: 5px;
    text-align: left;
    letter-spacing: 1.2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(90deg, #dfdfdf6c, white)
}

/* alternate title info for author table */
.authors {
    font-size: 16px;
    letter-spacing: initial;
    width: 300px;
}

.postcount {
    float: right;
}

.body, .date, button.deleted {
    color: black;
}

.body {
    text-align: justify;
    padding: 0 20px; 
    font-size: 14px;
    border-left: 4px solid gray;
    border-bottom-left-radius: 7px;
}

.date {
    font-style: italic;
    font-size: 10px;
}

.title a, .date a {
    text-decoration-line: none;
}

/* delete button */
button.deleted {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 11px;
    font-family: inherit;
    background-color: white;
    z-index: 10;
    position: absolute;
    top: -10px;
    right: 0px;
    box-shadow: 0 0 3px #572222;
}

button.deleted:hover {
    box-shadow: 0 0 10px #572222;
}

button.deleted .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 80px;
    left: 155%;
    top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding: 10px 5px;
    z-index: 2;
    line-height: 0;
    opacity: .80;
    border-radius: 5px;
}

button.deleted .tooltiptext::after {
    content: " ";
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-right-width: 8px;
    border-style: solid;
    z-index: 10;
}

button.deleted:hover .tooltiptext {
    visibility: visible;
}

