{% extends "wrapper.html" %}

{% block content %}

<form action="/login" method="POST">
<table>
    <tr>
        <td colspan="2"><h2>Login Portal</h2></td>
    </tr>
    <tr>
        <td class="label">Email:</td>
        <td><input name="user_login" type="text" value="" tabindex="1" autofocus></td>
    </tr>
    <tr>
        <td class="label">Password:</td>
        <td><input name="user_pass" type="password" tabindex="2">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="login" type="submit" tabindex="3">Login</button>
        </td>
    </tr>
</table>
</form>

{% endblock %}