{% extends "wrapper.html" %}

{% block content %}

<form action="/add-post" method="POST">
<table>
    <tr>
        <td colspan="2"><h2>Add A New Post</h2></td>
    </tr>
    <tr>
        <td class="label">Title:</td>
        <td>
            <input name="title" type="text" value="{{post_title}}" tabindex="1" autofocus>
            <button type="submit" tabindex="3">Post</button>
            <button type="reset" tabindex="4">Clear</button>
        </td>
    </tr>
    <tr>
        <td class="label">Post:</td>
        <td>
            <textarea name="body" tabindex="2">{{post_body}}</textarea>
        </td>
    </tr>
</table>
</form>

{% endblock %}