{% extends "wrapper.html" %}

{% block content %}

{% if author %}
    {% if author.db_postcount == 0 %}
    <div style="height: 100px;"></div>
    <h2>There doesn't seem to be anything here.</h2>
    {% endif %}
{% endif %}

{% for post in post_list: %}

<div class="post">
        <div class="title">
            <a href="/post?id={{post.id}}">{{post.db_title}}</a>
        </div>
        <div class="body">
            <p>{{post.db_body}}</p>
            <p class="date">Posted by <a href="/blog?id={{post.author_id}}">{{post.author.db_nickname}}</a> at: {{post.db_date}}</p>
        </div>
        <form action="/del-post" method="POST">
            <input type="hidden" name="post_id" value="{{post.id}}">
            {% if post.author_id == loggedin.id %}
            <button class="deleted tooltip" type="submit">X
                    <span class="tooltiptext">Delete post</span>
            </button>
            {% endif %}
        </form>
    </div>
    
{% endfor %}

<h2>{% if next_url %}<a href="/?page={{next_url}}">Older posts</a> {% endif %}
    {% if prev_url %}<a href="/?page={{prev_url}}">Newer posts</a> {% endif %}</h2>

{% endblock %}