<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- TODO: Fix the title -->
    <title>a series of blogs</title>
</head>
<body>
    
    <a href="/new-post">Add New Post</a> |
    {% if loggedin != False %}<a href="/selfpost">View Your Posts</a> | {% endif %}
    <a href="/">View All Posts</a> |
    <a href="/authors">View Authors</a> ||
    {% if loggedin != False %}<span class="label">Logged in as {{loggedin.db_nickname}}</span> (<a href="/logout">Logout</a>)<br>
    {% else %}
    <a href="/login">User Login</a> |
    <a href="/signup">Create Account</a><br>
    {% endif %}
    <br>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
        <span class="{{category}}">{{message}}</span>
        {% endfor %}
    {% endwith %}

    <h1>a series of blog post</h1>

    {% if author %}
    <h2>Posts by {{author.db_nickname}} | {{author.db_email}} | Post Count: {{author.db_postcount}}</h2>
    {% endif %}
    {% block content %}
    {% endblock %}
    
</body>
</html>